<div class="login">
  <h1>Login</h1>
  <form role="form" >
  <div class="form-group">
    <md-input-container>
        <input mdInput #username placeholder="Username" value="">
    </md-input-container>
  </div>
  <div class="form-group">
    <md-input-container>
        <input mdInput type="password" #password placeholder="Password" value="">
    </md-input-container>
  </div>
  <button type = "submit" class = "btn btn-success" (click)="login(username.value, password.value)">Submit</button>
  
    <a [routerLink]="['/signup']">Click here to Signup</a>
</form>
</div>