md-card{
    margin: 2%
}

md-card-subtitle{
    margin: 2%
}
.top{
    align-self: center;
    background-color: burlywood
}

.example-icon {
  padding: 0 14px;
}

.example-spacer {
  flex: 1 1 auto;
}

.tool{
    width: 100%
}

md-card-subtitle{
    font-size: 30px;
}

.right {
    float: right;
    width: parent*90%;
}

.add-button
{
    background-color: mediumturquoise;
    align-content: center;
    text-align: center;
    color: white;
    padding:4px;
    margin-top: 20px;
    vertical-align: middle;
    margin-bottom:0px; 
    position: absolute;
    width: 100%;
    bottom: 0;    
}
