<div class="signup">
  <h3>Signup</h3>
  <!--<md-tab-group>
    <md-tab label="Student">-->
      <md-chip-list>
  <md-chip color='primary' (click)="chipselect(1)">Student</md-chip>
  <md-chip color='accent' (click)="chipselect(2)">Teacher</md-chip>
      </md-chip-list>
       <div *ngIf="decider; then thenBlock else elseBlock"></div>
      <ng-template #thenBlock>
      <form role="form" (submit)="signup(username.value, password.value,regno.value,name.value,email.value,contact.value,department.value,semester.value)">
        <div class="form-group">
          <md-input-container>
            <input mdInput #username placeholder="Username" value="" required>
        </md-input-container>
        </div>
        <div class="form-group">
          <md-input-container>
            <input mdInput type="password" #password placeholder="Password" value="" required>
        </md-input-container>
        </div>
        <div class="form-group">
         <md-input-container>
            <input mdInput #regno placeholder="Register Number" value="" required>
        </md-input-container>
        </div>
        <div class="form-group">
          <md-input-container>
            <input mdInput #name placeholder="Name" value="" required>
        </md-input-container>
        </div>
        <div class="form-group">
          <md-input-container>
            <input mdInput type="email" #email placeholder="Email Id" value="" required>
        </md-input-container>
        </div>
        <div class="form-group">
          <md-input-container>
            <input mdInput type="tel" #contact placeholder="Contact Number" value="" required>
        </md-input-container>
        </div>
        <div class="form-group">
          <label for="department">Department</label>
          <select #department id="department">
  <option value="1">Computer Science</option>
</select>
        </div>
        <div class="form-group">
          <md-input-container>
            <input mdInput type="number" min="1" max="8" #semester placeholder="Semster" value="" required>
        </md-input-container>
        </div>
        <button type="submit" class="btn btn-success">Submit</button>
        <a [routerLink]="['/loginas']">Click here to Login</a>
      </form>
    </ng-template>
    <!--</md-tab>-->









    <!--<md-tab label="Teacher">-->
      <ng-template #elseBlock>
      <form role="form" (submit)="tsignup(tusername.value, tpassword.value,tteacherid.value,tname.value,temail.value,tdepartment.value)">
        <div class="form-group">
          <md-input-container>
            <input mdInput #tusername placeholder="Username" value="" required>
        </md-input-container>
        </div>
        <div class="form-group">
          <md-input-container>
            <input mdInput #tpassword placeholder="Password" value="" required>
        </md-input-container>
        </div>
        <div class="form-group">
          <md-input-container>
            <input mdInput #tteacherid placeholder="TeacherId" value="" required>
        </md-input-container>
        </div>
        <div class="form-group">
          <md-input-container>
            <input mdInput #tname placeholder="Name" value="" required>
        </md-input-container>
        </div>
        <div class="form-group">
          <md-input-container>
            <input mdInput type="email" #temail placeholder="Email" value="" required>
        </md-input-container>
        </div>
        <div class="form-group">
          <label for="department">Department</label>
          <select #tdepartment id="tdepartment">
  <option value="1">Computer Science</option>
</select>
        </div>
        
        <button type="submit" class="btn btn-success">Submit</button>
        <a [routerLink]="['/loginas']">Click here to Login</a>
      </form>
      </ng-template>
    <!--</md-tab>
  </md-tab-group>-->
</div>