<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>


<h3>
  Students of 6th Semester
</h3>
<md-card *ngFor="let detail of det">
  <md-card-subtitle>
    {{detail.regno}}
  </md-card-subtitle>

  <md-card-content>
    {{detail.name}}
    <br/><br/>
   
     <md-slide-toggle ngDefaultControl
     [(ngModel)]="detail.dummy">
     </md-slide-toggle>
     <div *ngIf="detail.dummy; then thenBlock else elseBlock"></div>
        <ng-template #thenBlock>Present</ng-template>
        <ng-template #elseBlock>Absent</ng-template>
  </md-card-content>
  </md-card>
<button type="button" class="btn btn-success" (click)="submit()">Submit</button>
<button type="button" class="btn btn-danger" (click)="cancel()">Cancel</button>
<router-outlet></router-outlet>