<md-card *ngFor="let res of title">
    <md-card-subtitle>
        {{res.subject}} <span class="right" (click) = "teacher()">{{res.name}}</span>
    </md-card-subtitle>

    <section class="example-section">
        <md-progress-bar class="example-margin" [value]="res.perc" [color]="color(res)">
        </md-progress-bar>
        {{res.perc}}%
    </section>
    <br/>
    <md-card-content>
        Total Attended: {{res.attended}} <span class="right"> Total Class : {{res.class}}</span>
    </md-card-content>


    <router-outlet></router-outlet>