<div class="login jumbotron center-block">
  <h1>Login</h1>
  <form role="form" >
  <div class="form-group">
    <label for="username">Username</label>
    <input type="text" #username class="form-control" id="username" placeholder="Username">
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" #password class="form-control" id="password" placeholder="Password">
  </div>
  <button type="submit" class="btn btn-default" (click)="login(username.value, password.value)">Submit</button>
    <a [routerLink]="['/signup']">Click here to Signup</a>
</form>
</div>
<!--
<h4>Login</h4>

<div class="row">

    <form #addWordForm="ngForm" role="form" class="col-md-offset-1 col-md-10 col-lg-offset-2 col-lg-8">

        <div class="form-group">
            <md-input-container>
                <input mdInput placeholder="Username">
            </md-input-container>
        </div>

        <div class="form-group">
            <md-input-container>
                <textarea mdInput placeholder="Password"></textarea>
            </md-input-container>
        </div>

        <button md-fab class="center">Login</button>
        <button md-fab class="right">Signup</button>
    </form>
</div>-->
