<div class="signup">
  <h3>Add subjects you teach</h3>
      <form role="form" (submit)="add(name.value, department.value,semester.value)">
        <div class="form-group">
            <md-input-container>
            <input mdInput #name placeholder="Course Name" value="" required>
        </md-input-container>
        </div>
       
        <div class="form-group">
            <md-input-container>
            <input mdInput type="number" min="1" max="8" #semester placeholder="Semester" value="" required>
        </md-input-container>
        </div>

         <div class="form-group">
          <label for="department">Department</label>
          <select #department id="department">
  <option value="1">Computer Science</option>
</select>
        </div>
        <button type="submit" class="btn btn-success">Submit</button>
        <button type="button" class="btn btn-danger" (click)="cancel()">Cancel</button>
        
      </form>
</div>